.login {
  padding: 10px 20px 50px;
  background-color: #FFF;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);
  margin: 0;
}
.login-background {
  background-color: #272D4E;
}
.login .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  width: 100%;
}
/*input:focus {
  border-bottom: 1px solid #42A5F5 !important;
  box-shadow: 0 1px 0 0 #42A5F5 !important;
}
input:focus + label {
  color: #42A5F5 !important;
}
label.active {
  color: #42A5F5 !important;
}*/
.login-btn {
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.login-btn a {
  display:inline-block;
  margin:auto;
}
.date-text { 
  float: right;
  cursor: pointer;
}
/*input[type="text"].valid, input[type="text"]:focus.valid, 
input[type="password"].valid, input[type="password"]:focus.valid {
  border-bottom: 1px solid #42A5F5 !important;
  box-shadow: 0 1px 0 0 #42A5F5 !important;
}*/
/*.picker__footer {
  text-align: center;
}
.picker__frame {
  top: 0 !important;
}*/
/*p:hover, p:focus {
  outline: none;
}*/