

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
* {
  box-sizing: border-box;
}

.login {
  padding: 10px 20px 50px;
  background-color: #FFF;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);
  margin: 0;
}
.login-background {
  background-color: #272D4E;
}
.login .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  width: 100%;
}
input:focus {
  border-bottom: 1px solid #42A5F5 !important;
  box-shadow: 0 1px 0 0 #42A5F5 !important;
}
input:focus + label {
  color: #42A5F5 !important;
}
label.active {
  color: #42A5F5 !important;
}
.login-btn {
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.login-btn a {
  display:inline-block;
  margin:auto;
}
.date-text { 
  float: right;
  margin-top: 8%;
}
@media only screen and (max-width: 768px) {
  .date-text {margin-top: 4%;}
}
@media only screen and (max-width: 480px) {
  .date-text {margin-top: 8%;} 
}
@media only screen and (max-width: 360px) {
  .date-text {margin-top: 10%;} 
}
@media only screen and (max-width: 320px) {
}
input[type="text"].valid, input[type="text"]:focus.valid, 
input[type="password"].valid, input[type="password"]:focus.valid {
  border-bottom: 1px solid #42A5F5 !important;
  box-shadow: 0 1px 0 0 #42A5F5 !important;
}
.picker__today {
  padding: 0;
}
.btn-flat {
  padding: 0;
}