/*! HTML5 Custom CSS */
input:focus {
  border-bottom: 1px solid #42A5F5 !important;
  box-shadow: 0 1px 0 0 #42A5F5 !important;
}
input:focus + label {
  color: #42A5F5 !important;
}
label.active {
  color: #42A5F5 !important;
}
input[type="text"].valid, input[type="text"]:focus.valid, 
input[type="password"].valid, input[type="password"]:focus.valid {
  border-bottom: 1px solid #42A5F5 !important;
  box-shadow: 0 1px 0 0 #42A5F5 !important;
}
p:hover, p:focus {
  outline: none;
}
.picker__footer {
  text-align: center;
}
.picker__frame {
  top: 0 !important;
}
.date-text, .hotel-text, .customer-text {font-size: 14px;}
@media only screen and (max-width: 900px) {
  .date-text, .hotel-text, .customer-text {font-size: 13px;} }
@media only screen and (max-width: 667px) {
  .date-text, .hotel-text, .customer-text {font-size: 12px;} }
@media only screen and (max-width: 480px) {
  .date-text, .hotel-text, .customer-text {font-size: 11px;} }
@media only screen and (max-width: 320px) {
  .date-text, .hotel-text, .customer-text {font-size: 10px;} }
span.badge-default {
  min-width: 3rem;
  padding: 2px 5%;
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  color: #757575;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 0.9rem;
  color: #fff;
  background-color: #26a69a;
}