/*.date-text, .hotel-text, .customer-text {font-size: 14px;}
@media only screen and (max-width: 900px) {
  .date-text, .hotel-text, .customer-text {font-size: 13px;} }
@media only screen and (max-width: 667px) {
  .date-text, .hotel-text, .customer-text {font-size: 12px;} }
@media only screen and (max-width: 480px) {
  .date-text, .hotel-text, .customer-text {font-size: 11px;} }
@media only screen and (max-width: 320px) {
  .date-text, .hotel-text, .customer-text {font-size: 10px;} }*/